@charset "UTF-8";

@media screen and (max-width: 768px){
    

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

header{
    background-color: grey;
    height: 310px;
}

header > h1{
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.548);
    color: white;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item{
    flex-basis: auto;
    flex: 1 1 auto;
}

div > p{
    background-color: black;
    padding: 7px;
    margin: 5px 0px;
    text-align: center;
    border-radius: 5px;
    width: 400px;
}

div > p > a{
    text-decoration: none;
    color: white;
}

div > p > a:hover{
    color: black;

}

div > p:hover{
    padding: 9px;
    background-color: rgb(70, 67, 67);
    font-weight: bold;
}

body{
    background-color: rgb(223, 223, 223);
}

main{
    width: 90%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
}
}